ff1 				= 'Open Sans', sans-serif
ff2					= Georgia, Times New Roman, Arial, sans-serif;
ff3 				= 'Open Sans Condensed', 'Open Sans', Arial
fuipreclouds 		= #eff0f2
fuipreturquoise		= #48c9b0
fuiturquoise 		= #1abc9c
fuigreensea 		= #16a085
fuiemerald 			= #2ecc71
fuinephritis 		= #27ae60
fuipeterriver 		= #3498db
fuibelizehole 		= #2980b9
fuiamethyst 		= #9b59b6
fuiwisteria 		= #8e44ad
fuiwetasphalt 		= #34495e
fuimidnightblue 	= #2c3e50
fuidarkmidnight		= #1D2731
fuisunflower 		= #f1c40f
fuiorange 			= #f39c12
fuicarrot 			= #e67e22
fuipumpkin 			= #d35400
fuializarin 		= #e74c3c
fuipomegranate 		= #c0392b
fuiclouds 			= #ecf0f1
fuisilver 			= #bdc3c7
fuiconcrete 		= #95a5a6
fuiasbestos 		= #7f8c8d
fuipolaroid			= #F7F8EC
fuicream			= #F6ECBE
fuicream2			= #D6C15A
fuitextcolor		= #333332
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
box-shadow(){
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
}
.noSelection {
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;		
}
.clear {
	clear both
}
.float100 {
	float left
	width 100%
}
:focus {
	outline none
}
a {
	color black
	text-decoration none
	&:hover {
		color fuibelizehole
		cursor pointer
	}
}
// [contentEditable=true]{
// 	border 1px dashed #ccc
// }
// [data-placeholder]:empty:not(:focus):not([data-div-placeholder-content]):before {
// 	content: attr(data-placeholder);
// 	color: fuiconcrete;
// }
body {
	font-family ff1
	margin 0
	background white url(/img/bg8.png) repeat
}
button, a.buttonSq {
	height 36px
	font-weight 700
	background fuisilver
	font-size 15px
	color white
	border-radius(4px)
	border-width 0
	margin 0
	line-height 32px
	text-align center
	padding 2px 10px
	font-family ff1
	&.btnAlizarin {
		background fuializarin
		&:hover {
			background fuipomegranate
		}
	}
	&.btnEmerald {
		background fuiemerald
		&:hover {
			background fuinephritis
		}
	}
	&.btnPeterriver {
		background fuipeterriver
		&:hover {
			background fuibelizehole
		}
	}
	&.btnSqEmerald {
		i {
			color fuiemerald
			&:hover {
				color fuinephritis
			}
		}
	}
	&.btnSqPeterriver {
		i {
			color fuipeterriver
			&:hover {
				color fuibelizehole
			}
		}
	}

	&.btnSmall {
		font-size 13px
		line-height 21px
		height 25px
	}
	&:hover {
		cursor pointer
	}
}
#mainContainer {
	text-align center
	width 1000px
	margin 0 auto
}
.standartCerceve {
	background white
	box-shadow(0 1px 10px rgba(0,0,0,0.99))
	border-radius(1px)
}
.warning {
	border-color fuializarin !important
	&::-webkit-input-placeholder {
	   color: fuializarin;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: fuializarin;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: fuializarin;  
	}
	&:-ms-input-placeholder {  
	   color: fuializarin;  
	}
	&:after {
		content "**"
	}
}
#header {
	background url(/img/headerbg.png) repeat
	width 100%
	box-shadow(0 0 10px rgba(0,0,0,0.4))
	#inner {
		width 1000px
		margin auto
		height 50px
		.logo a {
			color white
			margin 0 auto 0
			line-height 50px
			font-size 30px
			padding 0 0
			font-weight 800
			letter-spacing -1px
			width 200px
			float left
			position relative
			i {
				margin-right -3px
				font-size 27px
			}
		}
		p {
			color fuiconcrete
		}
		.buttonSq {
			width: 34px;
			height 34px;
			float: right;
			margin: 9px 0 0 7px;
			padding: 0px;
			border-radius(10px)
			background white
			i {
				margin -3px 0 0 
				font-size 40px
			}
		}
	}
}
.gezCizgi {
	padding 40px 0
	text-align center
	width 1000px
	margin auto
	.inner {
		width 86%
		margin auto
		text-align center
		display inline-block
		position relative
		height 175px
		.carousel {
			width 100%
			height 100%
			a {
				margin 0  4% 0 0
				display inline-block
				width 22%
				height 100%
				padding 0
				background white
				float left
				position relative
				border-radius(2px)
				overflow hidden
				box-shadow(0 0 2px fuiasbestos)
				.imgContainer {
					position relative
					width 100%
					height 100%
					overflow hidden
					text-align center
					z-index 11
					// span.helper {
					// 	display: inline-block;
					// 	height: 100%;
					// 	vertical-align: middle;						
					// }
					.image {
						position absolute
						left 5%
						top 5%
						width 90%
						height 90%
						background-position top
						background-size cover
					}
				}
				.baslikContainer {
					overflow hidden
					position absolute
					top 5%
					left 5%
					background rgba(0,0,0,0.5)
					display table
					vertical-align middle
					height 90%
					width 90%
					padding 10px
					z-index 11
					opacity 1
					color white
					h4 {
						display table-cell
						vertical-align middle
						font-size 18px
						letter-spacing 0px
						font-weight 700
						line-height 1.2
						text-align center
						word-break: break-word;
						text-shadow 1px 1px 4px black
						font-family ff3
					}
					.olayCount {
						position absolute
						right 8px
						bottom 6px
						font-size 12px
						height 20px
						line-height 20px
						font-weight 300
						color white
						border-radius(4px)
						background black
						padding 0 5px
					}
				}
				&:hover {
					.baslikContainer {
						background rgba(0,0,0,0.9)
					}
				}
				&:last-child {
					margin 0
				}
			}
			.loading {
				margin 13px auto
				height 148px
				width 148px
				padding 10px
				background fuimidnightblue
				border-radius 4px
				box-shadow(inset 0 0 10px rgba(0,0,0,0.2))
				img {

				}
			}
		}
	}
	i {
		display inline-block
		height 175px
		line-height 175px
		vertical-align top
		font-size 30px
		width 7%
		color fuitextcolor
		&:hover {
			cursor pointer
			color black
		}
		&.hide {
			display none
		}
	}
}
.baslikOlay {
	position relative
	h1, textarea {
		background white //url(/img/headerbg.png) repeat
		color fuitextcolor
		font-size: 45px;
		letter-spacing 0px
		line-height: 1.1
		font-weight: 700;
		padding: 15px 40px 15px 40px;
		box-shadow(0 1px 2px rgba(0,0,0,0.07))
		text-align center
		display block
		width 100%
		font-family ff3
		margin 0px
		border-radius(4px)
		//border-left 30px solid rgba(0,0,0,0.3)
	}
	textarea {
		border 1px dashed #ccc
		resize vertical
		line-height 1.4
		&:focus {
			border-color fuiconcrete !important
		}
	}
	span#counterTitle {
		position absolute
		bottom 5px
		right 5px
		color fuiconcrete
		font-weight 700
	}
}
.gizliBaslik {
	position fixed
	height 40px
	width 100%	
	top 0
	text-align left
	background white
	left 0
	z-index 100
	text-align center
	.baslik {
		display inline-block
		font-weight 700
		font-family ff3
		color fuitextcolor
		font-size 20px
		line-height 40px
		margin-right 10px
	}
	.facebook, .twitter {
		background #2D609B
		color white
		padding 0px 10px
		font-size 13px
		font-family ff1
		line-height 30px
		vertical-align top
		display inline-block
		margin-right 1px
		margin 5px 5px 0 0
		border-radius(4px)
		i {
			color white
			vertical-align top
			font-size 18px
			margin 7px 4px 0 0
		}
	}
	.twitter {
		background #00C3F3
	}
}
.birimOlayContainer {
	position relative
	padding-top 60px
	text-align center
	&:before {
		position absolute
		content ""
		width 6px
		height 100%
		background url(/img/bg10.png)
		top 0
		left 50%
		display block
		margin-left:-3px;
		z-index -1
	}
	&.taymEnd {
		padding-bottom 0
		margin-bottom 0
	}
	.birimOlay {
		position relative
		margin-bottom 60px
		z-index 1
		&:hover:after {
			background fuializarin
		}
		.tarihContainer {
			display inline-block
			background url(/img/bg10.png)
			text-align center
			border-radius(4px)
			padding 10px 30px
			margin 0 0 20px -30px
			position relative
			box-shadow(0 1px 2px rgba(0,0,0,0.07))
			.tarih{ //yılı ifade ediyor
				padding 0px 0
				line-height 1.1
				font-size 36px
				font-weight 800
				display inline-block
				color fuitextcolor
				background none
				font-family ff1
				margin-right 0
				text-align center
				position relative
			
 			}
 			input.tarih {
 				border 1px dashed fuipreclouds
 				width 100%
 				margin-top 0px
 				line-height normal
 				&:focus {
 					border-color white
 				}
 			}
			.aygun {
				text-align center
				margin 0px 0 0 0px
				display block
				color fuitextcolor
				padding 0px
				vertical-align top
				.ay, .gun {
					display inline-block
					padding 0
					font-family ff1
					font-weight 300
					line-height 18px
					font-size 14px
				}
				select.month, select.day {
					display inline-block
					font-size 13px
					margin 4px 0 0
					font-family ff1
				}
				&.boxShadow {
					box-shadow(inset 0 0 5px rgba(0,0,0,0.7))					
				}
			}
		}
		.olay {
			width 47%
			float left
			text-align left
			position relative
			margin-right 6%
			//-webkit-perspective: 1000;
			-webkit-backface-visibility: hidden;
			-ms-transform: rotate(2deg); /* IE 9 */
			-webkit-transform: rotateZ(2deg); /* Chrome, Safari, Opera */
			transform: rotate(2deg);
			//margin-bottom 40px
			.innerOlay {
				background white //url(/img/polaroid.png) repeat
				width 100%
				margin 0 0 0 0
				float left
				padding 20px 20px 40px
				box-shadow(0 1px 2px rgba(0,0,0,0.07))
				border-radius(3px)
				.imageContainer {
					text-align center
					position relative
					padding 0%
					margin-bottom 20px
					&:before {
						position absolute
						width 100%
						height 100%
						top 0
						left 0
						z-index 12
						content ""
						box-shadow(inset 0px 0px 2px rgba(0,0,0,0.15))
					}				
					img, i.fa-camera {
						width 100%
						height auto
						border-radius(2px 2px 0 0)
						display block
						background white
					}
					i.fa-camera {
						font-size 100px
						color fuiasbestos
						height 240px
						line-height 240px
						background black
						position relative
						z-index 12
						.gorselYukleButonu {
							position absolute
							background fuibelizehole
							color white
							top 180px
							width 110px
							font-size 14px
							height 30px
							line-height 30px
							border-radius(3px)
							left 50%
							margin-left -55px
							font-weight 600
							font-family ff1
							&:hover {
								background fuipeterriver
								cursor pointer
								color white
							}
						}
					}
					.degistir, .anaResimYap {
						position absolute
						top 5px
						left 5px
						color white
						z-index 13
						height 24px
						line-height 24px
						font-size 13px
						background rgba(0,0,0,0.6)
						border-radius(3px)
						text-align center
						padding 0 8px
						i {
							font-size 14px
						}
						&:hover {
							cursor pointer
							background fuipeterriver
						}
					}
					.anaResimYap {
						left auto
						right 5px
						&.active {
							background fuiemerald
						}
					}
				}
			}
			a {
				color fuibelizehole
				&:hover {
					text-decoration underline
				}
			}
		}
		.olayText {
			float left
			width 47%
			text-align left
			color fuipreclouds
			h2, textarea.manset {
				font-size 40px
				line-height 1.2
				margin 0px 0px 10px
				padding 0px
				font-family ff3
				font-weight 800
				letter-spacing -1px
				position relative
				background none
				color fuitextcolor
				float left
				width 100%
			}
			textarea.manset {
				border 1px dashed fuiasbestos
				width 100%
				line-height 1.4
				padding 5px 10px
				resize vertical
				&:focus {
					border-color fuitextcolor !important
				}
			}
			span.counterManset, span.counterDesc  {
				color fuitextcolor
				font-weight 600
				visibility hidden
				display block
				font-size 15px
				line-height 19px
				text-align right
				border-radius(3px)
				margin-top -10px
				float left
				width 100%
			}
			.textContainer {
				float left
				width 100%
				p, textarea.desc {
					font-size 20px
					line-height 1.35
					padding 0 0px
					font-family ff2
					margin 0 0px 10px
					font-weight normal
					background none
					color fuitextcolor
					float left
					width 100%
				}
				textarea.desc {
					border 1px dashed fuiasbestos
					width 100%
					padding 5px 10px
					resize vertical
					display block
					&:focus {
						border-color fuitextcolor !important
					}
				}
			} 			
		}
		i.silici, .siliciPopover {
			position absolute
			top 1px
			left 1px
			z-index 13		
		}
		i.silici {
			width 20px
			height 20px
			line-height 20px
			border-radius(100%)
			font-size 15px
			color fuipreclouds
			text-align center
			&:hover {
				background fuiconcrete
				color white
				cursor pointer
			}

		}
		.siliciPopover {
			background white
			border-radius(4px)
			border 1px solid rgba(0,0,0,0.2)
			font-size 15px
			overflow hidden
			display none
			box-shadow(0 0 5px rgba(0,0,0,0.1))
			button {
				margin 5px 
			}
			div {
				border-bottom1px solid fuiasbestos
				background fuipreclouds
				fuiconcrete
				padding 7px 10px
				margin 1px
				color #444
			}
		}
		&:nth-child(2n) {
			.olay {
				-ms-transform: rotate(-2deg); /* IE 9 */
				-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
				transform: rotate(-2deg);				
			}
		}
	}
	i.basaDon {
		position fixed
		bottom 10px
		right 10px
		color white
		display none
		font-size 50px
		text-shadow 0 0 5px rgba(0,0,0,0.1)
		z-index 20
		&:hover {
			cursor pointer
			color fuicream2
		}
	}
}

.entryButtonsContainer {
	font-family ff1
	position relative
	padding 0px 0 40px
	&:before {
		position absolute
		content ""
		width 6px
		height 100%
		background url(/img/bg10.png)
		top 0
		left 50%
		display block
		margin-left:-3px;
		z-index -1
	}
	i#addOlay {
		width 60px
		height 60px
		line-height 51px
		color fuitextcolor
		font-size 30px
		background fuicream
		border-radius 100%
		margin-top -20px
		border 6px solid fuicream2
		&:hover {
			cursor pointer
			background fuiemerald
			color white
		}
	}
	button#yayinla, button#guncelle, button#saveAsDraft {
		line-height: 38px;
		height: 50px;
		padding: 0 18px;
		font-size: 20px;
		font-weight: 600;
		font-family ff1
		background fuicream
		border 6px solid fuicream2
		color fuitextcolor
		border-radius(24px)
		&:hover {
			cursor pointer
			background fuipeterriver
			color white
		}
	}
}
#entryCall {
	background url(/img/bg2.png) repeat
	box-shadow(inset 0 0px 5px rgba(0,0,0,0.7))
	padding 20px
	text-align center
	margin-bottom 20px
	#inner {
		margin auto
		display block
		width 1000px
		text-align center
		color white
	}
}
.unit {
	margin 0 0 10px
	line-height 30px
	label {
		color white
		width 170px
		float left
	}
	input {
		width 600px
		float left
		border-width 0
		padding 5px 10px
		line-height 20px
	}
}
@media (max-width: 999px) {
	#mainContainer {
		width 766px
		.baslikOlay {
			h1 {
				font-size 40px
			}
		}
		.birimOlayContainer {
			padding-top 40px
			.birimOlay {
				&:after {
					margin-top 70px
				}
				.tarihContainer {
					margin-left -23px
					.tarih {
						font-size 30px
					}
				}
				.olayText {
					h2 {
						font-size 30px
					}
					.textContainer {
						p {
							font-size 18px
						}
					}
				}
			}		
		}
	}	
	#header { 
		#inner {
			width 766px
		}
	}
	.gezCizgi {
		width 766px
		padding 20px 0
		.inner {
			height 140px
			.carousel {
				a {
					.baslikContainer {
						h4 {
							font-size 15px
						}
					}
				}
			}
		}
		i {
			height 140px
			line-height 140px
		}
	}
}
@media (max-width: 768px) {
	#mainContainer {
		width 100%
		.baslikOlay {
			h1 {
				font-size 24px
			}
		}
		.birimOlayContainer {
			padding-top 8px
			.birimOlay {
				padding 0 5px
				&:after {
					margin-top 70px
				}
				.olay {
					width 100%
					margin-right 0
					margin-bottom 8px
					.innerOlay {
						padding 10px
						.imageContainer {
							margin-bottom 0
						}
					}
				}
				.olayText {
					width 100%
					.tarihContainer {
						width 100%
						margin-left 0
						margin-bottom 8px
						.tarih {
							font-size 30px
						}
					}
					h2 {
						font-size 24px
						background white
						padding 10px
						text-align center
						border-radius(4px)
						margin-bottom 8px
					}
					.textContainer {
						background white
						border-radius(4px)
						p {
							font-size 16px
							padding 10px
						}
					}
				}
			}		
		}
	}	
	#header { 
		#inner {
			width 100%
		}
	}
	.gezCizgi {
		width 100%
		padding 20px 0
		.inner {
			height 100px
			.carousel {
				a {
					.baslikContainer {
						background rgba(0,0,0,0.9)
						h4 {
							font-size 11px
							font-weight 300
						}
						.olayCount {
							display none
						}
					}
				}
			}
		}
		i {
			height 100px
			line-height 100px
		}
	}
}