ff1 				= 'Open Sans', sans-serif
ff2					= Georgia, Times New Roman, Arial, sans-serif;
ff3 				= 'Open Sans Condensed', 'Open Sans', Arial
ff4 				= 'Play', sans-serif;
ff5					= 'Autour One', cursive;
fuipreclouds 		= #eff0f2
fuipreturquoise		= #48c9b0
fuiturquoise 		= #1abc9c
fuigreensea 		= #16a085
fuiemerald 			= #2ecc71
fuinephritis 		= #27ae60
fuipeterriver 		= #3498db
fuibelizehole 		= #2980b9
fuiamethyst 		= #9b59b6
fuiwisteria 		= #8e44ad
fuiwetasphalt 		= #34495e
fuimidnightblue 	= #2c3e50
fuidarkmidnight		= #1D2731
fuisunflower 		= #f1c40f
fuiorange 			= #f39c12
fuicarrot 			= #e67e22
fuipumpkin 			= #d35400
fuializarin 		= #e74c3c
fuipomegranate 		= #c0392b
fuiclouds 			= #ecf0f1
fuisilver 			= #bdc3c7
fuiconcrete 		= #95a5a6
fuiasbestos 		= #7f8c8d
fuipolaroid			= #F7F8EC
fuicream			= #F6ECBE
fuicream2			= #D6C15A
fuitextcolor		= #333332
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
box-shadow(){
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
}
.noSelection {
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;		
}
.clear {
	clear both
}
.float100 {
	float left
	width 100%
}
:focus {
	outline none
}
a {
	color black
	text-decoration none
	&:hover {
		color fuibelizehole
		cursor pointer
	}
}
button, a.buttonSq {
	height 36px
	font-weight 700
	background fuisilver
	font-size 15px
	color white
	border-radius(4px)
	border-width 0
	margin 0
	line-height 32px
	text-align center
	padding 2px 10px
	font-family ff1
	&.btnAlizarin {
		background fuializarin
		&:hover {
			background fuipomegranate
		}
	}
	&.btnEmerald {
		background fuiemerald
		&:hover {
			background fuinephritis
		}
	}
	&.btnPeterriver {
		background fuipeterriver
		&:hover {
			background fuibelizehole
		}
	}
	&.btnSqEmerald {
		i {
			color fuiemerald
			&:hover {
				color fuinephritis
			}
		}
	}
	&.btnSqPeterriver {
		i {
			color fuipeterriver
			&:hover {
				color fuibelizehole
			}
		}
	}

	&.btnSmall {
		font-size 13px
		line-height 21px
		height 25px
	}
	&:hover {
		cursor pointer
	}
}
.standartCerceve {
	background white
	box-shadow(0 1px 10px rgba(0,0,0,0.99))
	border-radius(1px)
}
.warning {
	border-color fuializarin !important
	&::-webkit-input-placeholder {
	   color: fuializarin;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: fuializarin;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: fuializarin;  
	}
	&:-ms-input-placeholder {  
	   color: fuializarin;  
	}
	&:after {
		content "**"
	}
}
body {
	font-family ff1
	margin 0
	background white url(/img/bg.png) repeat
	font-size 20px
	text-align center
	#mainContainer {
		text-align center
		width 1000px
		margin 0 auto
	}
	#header {
		background url(/img/headerbg.png) repeat
		width 100% !important
		box-shadow(0 0 10px rgba(0,0,0,0.4))
		margin-bottom 1em
		#inner {
			margin auto
			text-align left
			.logo a {
				color white
				margin 0 auto
				line-height 2
				padding 0 0
				font-weight 700
				letter-spacing -1px
				width 6em
				float left
				position relative
				font-size 1.5em
				i {
					margin-left 0.1em
				}
			}
			p {
				color fuiconcrete
			}
			.buttonSq {
				width: 34px;
				height 34px;
				float: right;
				margin: 9px 0 0 7px;
				padding: 0px;
				border-radius(10px)
				background white
				i {
					margin -3px 0 0 
					font-size 40px
				}
			}
		}
	}
}
.innerContainer {
	margin auto
}
ul.gallery {
	li {
		float left
		list-style-type: none;
		a {
			box-shadow(0 1px 2px rgba(0,0,0,0.07))
			width 100%
			display block
			background white //url(/img/polaroid2.png)
			padding 0.6em 0.6em 0.25em
			border-radius(2px)
			overflow hidden
			.imageContainer {
				width 100%
				background-position top
				background-size cover
				position relative
				box-shadow(inset 0 0px 2px rgba(0,0,0,0.4))
				.olayCount {
					position absolute
					width 100%
					height 100%
					text-align center
					line-height 1em
					top 0
					font-family ff2
					font-weight normal
					font-size 2em
					display none
					background rgba(0,0,0,0.5)
					text-shadow 0 1px 2px black
					.inner {
						display table-cell
						vertical-align middle
						i {
							display block
						}		
					}
				}
			}
			.baslik {
				display table
				height 5.8em
				max-height 5.8em
				min-height 5.8em
				width 100%
				line-height 1.2em
				font-weight 700
				font-family ff1
				color fuitextcolor
				padding 0.5em
				text-align center
				word-break: break-word;
				overflow hidden
				span {
					vertical-align middle
					display table-cell
				}
			}
			&:hover {
				.imageContainer {
					color white
					.olayCount {
						display table
					}
				}
				.baslik {
					color fuipeterriver
				}
			}
		}
	}
}
.baslikOlay {
	position relative
	h1, textarea {
		color white
		font-size: 2.2em;
		letter-spacing -2px
		line-height: 1.1
		font-weight: bold;
		padding: 0.6em 0.6em;
		text-shadow -1px -1px black
		text-align center
		display block
		width 100%
		font-family ff1
		margin 0px
		border-radius(4px)
		background none
	}
	textarea {
		border 1px dashed #ccc
		resize vertical
		line-height 1.4
		&:focus {
			border-color fuiconcrete !important
		}
	}
	span#counterTitle {
		position absolute
		bottom 5px
		right 5px
		color fuiconcrete
		font-weight 700
	}
}
.gizliBaslik {
	position fixed
	height 40px
	width 100%	
	top 0
	text-align left
	background white
	left 0
	z-index 100
	text-align center
	display none
	.baslik {
		display inline-block
		font-weight 700
		font-family ff3
		color fuitextcolor
		font-size 20px
		line-height 40px
		margin-right 10px
	}
	.facebook, .twitter {
		background #2D609B
		color white
		padding 0px 10px
		font-size 13px
		font-family ff1
		line-height 30px
		vertical-align top
		display inline-block
		margin-right 1px
		margin 5px 5px 0 0
		border-radius(4px)
		i {
			color white
			vertical-align top
			font-size 18px
			margin 7px 4px 0 0
		}
	}
	.twitter {
		background #00C3F3
	}
}
.birimOlayContainer {
	position relative
	padding-top 2em
	text-align center
	&:before {
		position absolute
		content ""
		width 6px
		height 100%
		background rgba(0,0,0,0.4) //url(/img/headerbg.png)
		top 0
		left 50%
		display block
		margin-left:-3px;
		z-index -1
	}
	.dot {
		position absolute
		width 0.8em
		height 0.8em
		left 50%
		top 1.6em
		background white
		margin-top 0px
		margin-left -0.4em
		border-radius(100%)
		box-shadow(0 1px 2px rgba(0,0,0,0.07))
	}
	&.taymEnd {
		padding-bottom 0
		margin-bottom 0
	}
	.birimOlay {
		position relative
		z-index 1
		&:hover:after {
			background fuializarin
		}
		&:before {
			position absolute
			width 10px
			height 10px
			left 50%
			top 50%
		}
		.olay {
			text-align left
			position relative
			.innerOlay {
				background white //url(/img/polaroid.png) repeat
				width 100%
				margin 0 0 0 0
				float left
				padding 1em 1em 1.7em
				box-shadow(0 1px 2px rgba(0,0,0,0.07))
				border-radius(3px)
				.imageContainer {
					text-align center
					position relative
					padding 0%
					margin-bottom 1em
					&:before {
						position absolute
						width 100%
						height 100%
						top 0
						left 0
						z-index 12
						content ""
						box-shadow(inset 0px 0px 2px rgba(0,0,0,0.15))
					}				
					img, i.fa-camera {
						width 100%
						height auto
						border-radius(2px 2px 0 0)
						display block
						background white
					}
					i.fa-camera {
						font-size 100px
						color fuiasbestos
						height 240px
						line-height 240px
						background black
						position relative
						z-index 12
						.gorselYukleButonu {
							position absolute
							background fuibelizehole
							color white
							top 180px
							width 110px
							font-size 14px
							height 30px
							line-height 30px
							border-radius(3px)
							left 50%
							margin-left -55px
							font-weight 600
							font-family ff1
							&:hover {
								background fuipeterriver
								cursor pointer
								color white
							}
						}
					}
					.degistir, .anaResimYap {
						position absolute
						top 5px
						left 5px
						color white
						z-index 13
						height 24px
						line-height 24px
						font-size 13px
						background rgba(0,0,0,0.6)
						border-radius(3px)
						text-align center
						padding 0 8px
						i {
							font-size 14px
						}
						&:hover {
							cursor pointer
							background fuipeterriver
						}
					}
					.anaResimYap {
						left auto
						right 5px
						&.active {
							background fuiemerald
						}
					}
				}
			}
			a {
				color fuibelizehole
				&:hover {
					text-decoration underline
				}
			}
		}
		.olayText {
			color white
			.tarihContainer {
				display inline-block
				background white
				text-align center
				border-radius(4px)
				padding 0.5em 1.5em
				margin 0 0 0.7em 0
				position relative
				height 4em
				box-shadow(0 1px 2px rgba(0,0,0,0.07))
				.tarih { //yılı ifade ediyor
					padding 0px 0
					line-height 1.1
					font-size 1.7em
					font-weight 800
					display inline-block
					color fuitextcolor
					background none
					font-family ff1
					margin-right 0
					margin-top 0.35em
					text-align center
					position relative
				
 				}
 				input.tarih {
 					border 1px dashed fuiconcrete
 					width 4em
 					margin-top 0px
 					line-height normal
 					&:focus {
 						border-color fuiasbestos
 					}
 				}
				.aygun {
					text-align center
					margin 0px 0 0em 0px
					display block
					color fuitextcolor
					padding 0px
					vertical-align top
					.ay, .gun {
						display inline-block
						padding 0
						font-family ff1
						font-weight 300
						line-height 1.2
						font-size 1em
					}
					select.month, select.day {
						display inline-block
						font-size 13px
						margin 4px 0 0
						font-family ff1
					}
					&.boxShadow {
						box-shadow(inset 0 0 5px rgba(0,0,0,0.7))					
					}
				}
			}
			i.fa-caret-down {
				width 1em
				height 1em
				font-size 2em
				position absolute
				left 50%
				color white
				margin-left -0.5em
				bottom -0.6em
			}
			i.fa-caret-left {
				font-size 3em
				position absolute
				left -0.2em
				top 0.2em
			}
			h2, textarea.manset {
				font-size 1.8em
				line-height 1.12
				margin 0px 0px 0.3em
				padding 0px
				font-family ff1
				font-weight 700
				letter-spacing -1px
				position relative
				background none
				float left
				width 100%
				text-shadow 0 -1px black
				color white
			}
			textarea.manset {
				border 1px dashed fuiasbestos
				width 100%
				line-height 1.4
				padding 5px 10px
				resize vertical
				&:focus {
					border-color fuisilver !important
				}
			}
			span.counterManset, span.counterDesc  {
				font-weight 600
				visibility hidden
				display block
				font-size 15px
				line-height 19px
				text-align right
				border-radius(3px)
				margin-top -10px
				float left
				width 100%
			}
			.textContainer {
				float left
				width 100%
				p, textarea.desc {
					font-size 1em
					line-height 1.35
					padding 0 0px
					font-family ff2
					margin 0 0px 0.5em
					font-weight normal
					background none
					float left
					width 100%
					color #aaa
				}
				textarea.desc {
					border 1px dashed fuiasbestos
					width 100%
					padding 5px 10px
					resize vertical
					display block
					&:focus {
						border-color fuisilver
					}
				}
			} 			
		}
		i.silici, .siliciPopover {
			position absolute
			top 1px
			left 1px
			z-index 13		
		}
		i.silici {
			width 20px
			height 20px
			line-height 20px
			border-radius(100%)
			font-size 15px
			color fuipreclouds
			text-align center
			&:hover {
				background fuiconcrete
				color white
				cursor pointer
			}

		}
		.siliciPopover {
			background white
			border-radius(4px)
			border 1px solid rgba(0,0,0,0.2)
			font-size 15px
			overflow hidden
			display none
			box-shadow(0 0 5px rgba(0,0,0,0.1))
			button {
				margin 5px 
			}
			div {
				border-bottom1px solid fuiasbestos
				background fuipreclouds
				fuiconcrete
				padding 7px 10px
				margin 1px
				color #444
			}
		}
		&:nth-child(2n) {
			.olay {
				// -ms-transform: rotate(-2deg); /* IE 9 */
				// -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
				// transform: rotate(-2deg);				
			}
		}
	}
	i.basaDon {
		position fixed
		bottom 10px
		right 10px
		color white
		display none
		font-size 50px
		text-shadow 0 0 5px rgba(0,0,0,0.1)
		z-index 20
		&:hover {
			cursor pointer
			color fuicream2
		}
	}
}
@media only screen and (min-width:0) { /* smartphones, iPhone, portrait 480x320 phones */ 
	body {
		.birimOlayContainer {
			.birimOlay {
				margin-bottom 4em
				.olayText {
					text-align center
					float left
					width 100%
					.tarihContainer {
						width 100%
						i.fa-caret-down {
							display block
						}
						i.fa-caret-left {
							display none
						}
					}
				}
				.olay {
					float left
					width 100%				
				}
			}
		}
		#header {
			#inner {
				width 96%
			}
		}
		.innerContainer {
			width 96%
		}
		ul.gallery {
			li {
				a {
					.imageContainer {
						height 140px
					}
					.baslik {
						font-size 0.7em
					}
				}
				width 49%
				margin 0 2% 2% 0
				&:nth-child(2n) {
					margin-right 0
				}
			}
		}
	}
}
@media only screen and (min-width:641px) { /* smartphones, iPhone, portrait 480x320 phones */ 
	body {
		.birimOlayContainer {
			.birimOlay {
				margin-bottom 3em
				.olayText {
					float right
					width 47%
					text-align left
					.tarihContainer {
						width auto
						i.fa-caret-down {
							display none
						}
						i.fa-caret-left {
							display block
						}
					}
				}
				.olay {
					width 47%
					float left
					margin-right 6%
				}
			}
		}
		.innerContainer {
			width 96%
		}
		ul.gallery {
			li {
				a {
					.imageContainer {
						height 140px
					}
					.baslik {
						font-size 0.9em
					}
				}
				width 32%
				margin 0 2% 2% 0
				&:nth-child(2n) {
					margin-right 2%
				}
				&:nth-child(3n) {
					margin-right 0 !important
				}
			}
		}
	}
}
@media only screen and (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	body {
		.innerContainer {
			width 96%
		}
		ul.gallery {
			li {
				a {
					.imageContainer {
						height 150px
					}
				}
			}
		}
	}
}
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	body {
		#header {
			#inner {
				width 800px
			}
		}
		.innerContainer {
			width 800px
		}
		ul.gallery {
			li {
				a {
					.imageContainer {
						height 170px
					}
				}
			}
		}
	}
}
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ 
	body {
		#header {
			#inner {
				width 1000px
			}
		}
		.innerContainer {
			width 1000px
		}
		ul.gallery {
			li {
				width 23.5%
				margin 0 2% 2% 0
				a {
					.imageContainer {
						height 180px
					}
				}
				&:nth-child(2n) {
					margin-right 2% !important
				}
				&:nth-child(3n) {
					margin-right 2% !important
				}
				&:nth-child(4n) {
					margin-right 0 !important
				}
			}
		}
	}
}
@media only screen and (min-width:1825px) { /* hi-res laptops and desktops */ 
	body {
		#header {
			#inner {
				width 1200px
			}
		}
		.innerContainer {
			width 1200px
		}
		ul.gallery {
			li {
				a {
					.imageContainer {
						height 200px
					}
				}
			}
		}
	}
}
.entryButtonsContainer {
	font-family ff1
	position relative
	padding 0px 0 0.6em
	&:before {
		position absolute
		content ""
		width 6px
		height 100%
		background rgba(0,0,0,0.4)
		top 0
		left 50%
		display block
		margin-left:-3px;
		z-index -1
	}
	i#addOlay {
		width 60px
		height 60px
		line-height 51px
		color fuitextcolor
		font-size 30px
		background white
		border-radius 100%
		margin-top -20px
		border 6px solid #222
		&:hover {
			cursor pointer
			background fuiemerald
			color white
		}
	}
	button#yayinla, button#guncelle, button#updateAndSaveAsDraft, button#saveAsDraft {
		line-height: 38px;
		height: 50px;
		padding: 0 18px;
		font-size: 20px;
		font-weight: 600;
		font-family ff1
		background url(/img/bg.png)
		border 6px solid rgba(0,0,0,0.4)
		color white
		border-radius(24px)
		&:hover {
			cursor pointer
			background fuipeterriver
			color white
		}
	}
}
#entryCall {
	background url(/img/bg2.png) repeat
	box-shadow(inset 0 0px 5px rgba(0,0,0,0.7))
	padding 20px
	text-align center
	margin-bottom 20px
	#inner {
		text-align center
		color white
	}
}
.unit {
	margin 0 0 10px
	line-height 30px
	label {
		color white
		width 170px
		float left
	}
	input {
		width 600px
		float left
		border-width 0
		padding 5px 10px
		line-height 20px
	}
}
