ff1 				= 'Open Sans', sans-serif
ff2					= Georgia, Times New Roman, Arial, sans-serif;
fuipreclouds 		= #eff0f2
fuipreturquoise		= #48c9b0
fuiturquoise 		= #1abc9c
fuigreensea 		= #16a085
fuiemerald 			= #2ecc71
fuinephritis 		= #27ae60
fuipeterriver 		= #3498db
fuibelizehole 		= #2980b9
fuiamethyst 		= #9b59b6
fuiwisteria 		= #8e44ad
fuiwetasphalt 		= #34495e
fuimidnightblue 	= #2c3e50
fuidarkmidnight		= #1D2731
fuisunflower 		= #f1c40f
fuiorange 			= #f39c12
fuicarrot 			= #e67e22
fuipumpkin 			= #d35400
fuializarin 		= #e74c3c
fuipomegranate 		= #c0392b
fuiclouds 			= #ecf0f1
fuisilver 			= #bdc3c7
fuiconcrete 		= #95a5a6
fuiasbestos 		= #7f8c8d
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
box-shadow(){
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
}
.noSelection {
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;		
}
.clear {
	clear both
}
.float100 {
	float left
	width 100%
}
:focus {
	outline none
}
a {
	color black
	text-decoration none
	&:hover {
		color fuibelizehole
		cursor pointer
	}
}
// [contentEditable=true]{
// 	border 1px dashed #ccc
// }
// [data-placeholder]:empty:not(:focus):not([data-div-placeholder-content]):before {
// 	content: attr(data-placeholder);
// 	color: fuiconcrete;
// }
body {
	font-family ff1
	margin 0
	background fuimidnightblue url(/img/bg5.png) repeat
}
button, a.buttonSq {
	height 36px
	font-weight 700
	background fuisilver
	font-size 15px
	color white
	border-radius(4px)
	border-width 0
	margin 0
	line-height 32px
	text-align center
	padding 2px 10px
	font-family ff1
	&.btnAlizarin {
		background fuializarin
		&:hover {
			background fuipomegranate
		}
	}
	&.btnEmerald {
		background fuiemerald
		&:hover {
			background fuinephritis
		}
	}
	&.btnPeterriver {
		background fuipeterriver
		&:hover {
			background fuipeterriver
		}
	}
	&.btnSqEmerald {
		i {
			color fuiemerald
			&:hover {
				color fuinephritis
			}
		}
	}
	&.btnSqPeterriver {
		i {
			color fuipeterriver
			&:hover {
				color fuibelizehole
			}
		}
	}

	&.btnSmall {
		font-size 13px
		line-height 21px
		height 25px
	}
	&:hover {
		cursor pointer
	}
}
#mainContainer {
	text-align center
	width 1000px
	margin 0 auto 40px
}
.standartCerceve {
	background white
	box-shadow(0 1px 10px rgba(0,0,0,0.99))
	border-radius(1px)
}
.warning {
	border-color fuializarin !important
	&::-webkit-input-placeholder {
	   color: fuializarin;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: fuializarin;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: fuializarin;  
	}
	&:-ms-input-placeholder {  
	   color: fuializarin;  
	}
	&:after {
		content "**"
	}
}
#header {
	position relative
	background url(/img/bg5.png)
	#inner {
		width 1000px
		margin auto
		height 50px
		h1 a {
			color white
			margin 0 auto 0
			line-height 50px
			font-size 30px
			padding 0 0
			font-weight 700
			width 200px
			float left
			position relative
		}
		p {
			color fuiconcrete
		}
		.buttonSq {
			width: 34px;
			height 34px;
			float: right;
			margin: 9px 0 0 7px;
			padding: 0px;
			border-radius(10px)
			background white
			i {
				margin -3px 0 0 
				font-size 40px
			}
		}
	}
}
.gezCizgi {
	padding 20px 0
	text-align center
	background fuipreclouds
	//border-bottom 1px solid fuimidnightblue
	//border-top 1px solid white
	box-shadow(inset 0 0px 5px rgba(0,0,0,0.7))
	.inner {
		width 860px
		margin auto
		text-align center
		display inline-block
		position relative
		height 185px
		overflow hidden
		.carousel {
			width 100%
			height 100%
			padding 5px 0
			a {
				margin 0  20px 0 0
				display inline-block
				width 200px
				height 100%
				background white
				float left
				color fuiwetasphalt
				position relative
				border-radius(2px)
				overflow hidden
				.imgContainer {
					position absolute
					background white
					width 180px
					margin 10px
					height 155px
					overflow hidden
					z-index 11
					display table
					text-align: center;
					overflow hidden
					span.helper {
						display: inline-block;
						height: 100%;
						vertical-align: middle;						
					}
					img {
						width 180px
						height 155px
						//max-height auto
						vertical-align middle
						
					}
				}
				.baslikContainer {
					position absolute
					background rgba(255,255,255,0.9)
					display table
					vertical-align middle
					height 100%
					width 100%
					padding 10px
					z-index 11
					opacity 0
					-webkit-transition: opacity 250ms ease-out;
					-moz-transition: opacity 250ms;
					-o-transition: opacity 250ms;
					transition: opacity 250ms;
					h4 {
						display table-cell
						vertical-align middle
						font-size 22px
						letter-spacing -1px
						font-weight 800
						line-height 28px
						text-align center
					}
				}
				&:hover {
					background white
					color fuimidnightblue
					.baslikContainer {
						opacity 1
					}
				}
				&:last-child {
					margin 0
				}
			}
			.loading {
				margin 13px auto
				height 148px
				width 148px
				padding 10px
				background fuimidnightblue
				border-radius 4px
				box-shadow(inset 0 0 10px rgba(0,0,0,0.2))
				img {

				}
			}
		}
	}
	i {
		display inline-block
		height 175px
		line-height 175px
		vertical-align top
		font-size 30px
		width 50px
		margin-right 20px
		color fuiwetasphalt
		&:hover {
			cursor pointer
			color fuiturquoise
		}
		&.fa-chevron-circle-right {
			margin 0 0 0 20px
		}
		&.hide {
			display none
		}
	}
}
.baslikOlay {
	position relative
	h2, textarea {
		font-size: 40px;
		letter-spacing -1px
		line-height: 44px;
		font-weight: 700;
		padding: 20px;
		color white
		background none
		box-shadow(none)
		text-align center
		display block
		width 100%
		font-family ff1
		margin 20px 0
	}
	textarea {
		border 1px dashed #ccc
		resize vertical
		&:focus {
			border-color fuiconcrete !important
		}
	}
	span#counterTitle {
		position absolute
		bottom 5px
		right 5px
		color fuiconcrete
		font-weight 700
	}
	&:after {
		width 10px
		height 10px
		background white
		border-radius (100%)
		position absolute
		left 50%
		margin-left -5px
		bottom 0
		content ""
		font-family FontAwesome
		font-weight normal
		margin-bottom -33px
		line-height 10px
		text-align center
		font-size 12px
		float left
		color white
		z-index 1
	}
}
.birimOlayContainer {
	position relative
	padding-top 40px
	margin-bottom: -140px;
	padding-bottom: 140px;
	overflow hidden
	&:before {
		border-radius(10px)
		position absolute
		content ""
		width 16px
		height 100%
		background fuiwetasphalt
		box-shadow(inset 0 0 20px rgba(0,0,0,0.9))
		top 0
		left 50%
		display block
		margin-left:-8px;
		z-index -1
	}
	&:after {
		background fuiwetasphalt
		position absolute
		width 6px
		content ""
		height 100%
		top 5px
		left 50%
		margin-left -3px
		z-index 0
	}
	.birimOlay {
		position relative
		margin-bottom 40px
		z-index 1
		&:after {
			width 10px
			height 10px
			background white
			border-radius (100%)
			position absolute
			left 50%
			margin-left -5px
			top 30%
			content ""
			font-family FontAwesome
			font-weight normal
			margin-top -5px
			line-height 38px
			text-align center
			font-size 18px
			float left
			color fuiwetasphalt
		}
		.tarihContainer {
			position absolute
			top 30%
			left 50%
			height 80px
			margin-left 20px
			margin-top -40px
			text-align left
			.tarih{ //yılı ifade ediyor
				padding 0 10px
				line-height 80px
				font-size 90px
				font-weight 800
				display inline-block
				color fuipreclouds
				background none
				font-family ff1
				margin-right 0
				height 80px
				vertical-align middle
				text-shadow 0 -1px rgba(0,0,0,0.9)
 			}
 			input.tarih {
 				border 1px dashed fuisilver
 				width 145px
 				font-size 50px
 			}
			.aygun {
				text-align center
				margin 0px 0 0 0
				background fuiwetasphalt
				width 80px
				height 80px
				display inline-block
				color white
				vertical-align middle
				padding-top 15px
				border-radius(100%)
				.ay {
					display block
					font-size: 15px;
					line-height 18px
					padding 0
					width 100%
					font-family ff1
				}
				select.month, select.day {
					display block
					font-size 13px
					margin 0
					font-family ff1
					width 100%
				}
				select.day { 
					margin-top 4px
				}
				.gun {
					display block
					line-height: 32px;
					height 32px
					font-size: 30px;
					font-weight 800
					text-align center
					width 100%
				}
				&.boxShadow {
					box-shadow(inset 0 0 5px rgba(0,0,0,0.7))					
				}
			}
		}

		.olay {
			width 460px
			float left
			padding 20px
			text-align left
			position relative
			h3, textarea {
				font-size 34px
				line-height 40px
				margin 0px 0px 0px
				padding 5px 0px 10px
				font-family ff1
				font-weight 800
				letter-spacing -2px
			}
			textarea {
				border 1px dashed fuipreclouds
				width 100%
				padding 5px 10px
				resize vertical
				display block
				&:focus {
					border-color fuiconcrete !important
				}
			}
			span.counterManset, span.counterDesc  {
				position absolute
				bottom 5px
				right 20px
				color fuiconcrete
				font-weight 300
				display none
				font-size 13px
			}
			p, textarea.desc {
				font-size 20px
				line-height 32px
				padding 0 0px
				font-family ff2
				margin 0 0px 10px
				font-weight normal
				color #333332
			}
			textarea.desc {
				padding 5px 10px
				letter-spacing 0
				margin-top 4px
			}
			.imageContainer {
				text-align center
				margin-bottom 10px
				position relative
				&:before {
					position absolute
					width 100%
					height 100%
					top 0
					left 0
					z-index 12
					content ""
					box-shadow(inset 0px 0px 3px rgba(0,0,0,0.65))
				}				
				img, i.fa-camera {
					width 100%
					height auto
					border-radius(2px 2px 0 0)
					display block
				}
				i.fa-camera {
					font-size 100px
					height 200px
					line-height 200px
					background fuipreclouds
					position relative
					z-index 12
					.gorselYukleButonu {
						position absolute
						background fuibelizehole
						color white
						top 150px
						width 110px
						font-size 14px
						height 30px
						line-height 30px
						border-radius(3px)
						left 50%
						margin-left -55px
						font-weight 600
						font-family ff1
						&:hover {
							background fuipeterriver
							cursor pointer
							color white
						}
					}
				}
				.degistir, .anaResimYap {
					position absolute
					top 5px
					left 5px
					color white
					z-index 13
					height 24px
					line-height 24px
					font-size 13px
					background rgba(0,0,0,0.6)
					border-radius(3px)
					text-align center
					padding 0 8px
					i {
						font-size 14px
					}
					&:hover {
						cursor pointer
						background fuipeterriver
					}
				}
				.anaResimYap {
					left auto
					right 5px
					&.active {
						background fuiemerald
					}
				}
			}
			[contentEditable=true]{
				padding 10px
				border 1px dashed #ccc
			}
			&:after {
				content "\f0da"
				position absolute
				font-family FontAwesome
				font-weight normal
				color white
				font-size 100px
				margin-top -50px
				height 60px
				top 30%
				right -30px
			}
		}
		i.silici, .siliciPopover {
			position absolute
			top 1px
			left 1px
			z-index 13		
		}
		i.silici {
			width 20px
			height 20px
			line-height 20px
			border-radius(100%)
			font-size 15px
			color fuipreclouds
			text-align center
			&:hover {
				background fuiconcrete
				color white
				cursor pointer
			}

		}
		.siliciPopover {
			background white
			border-radius(4px)
			border 1px solid rgba(0,0,0,0.2)
			font-size 15px
			overflow hidden
			display none
			box-shadow(0 0 5px rgba(0,0,0,0.1))
			button {
				margin 5px 
			}
			div {
				border-bottom1px solid fuiasbestos
				background fuipreclouds
				fuiconcrete
				padding 7px 10px
				margin 1px
				color #444
			}
		}
		&:nth-child(2n) {
			.tarihContainer {
				left auto
				right 50%
				margin-right 20px
				direction: rtl;
				.tarih {


				}
				.aygun {

				}
			}
			.olay {
				float right
				&:after {
					content "\f0d9"
					right auto
					left -30px
				}
			}
			i.silici, .siliciPopover {
				right 1px
				left auto
			}
		}
		&:nth-child(2n+1) {
			.olay {
			}
		}		
		&:first-child {
			.olay {
				
			}
		}
	}
}

.entryButtonsContainer {
	font-family ff1
	position relative
	padding 40px 0 0
	&:before {
		position absolute
		content ""
		width 6px
		height 100%
		background fuiwetasphalt
		top 0
		left 50%
		display block
		margin-left:-3px;
		z-index -1
	}
	i#addOlay {
		width 60px
		height 60px
		line-height 64px
		color white
		font-size 40px
		background fuiemerald
		border-radius 100%
		margin-top -20px
		&:hover {
			cursor pointer
			background fuinephritis
		}
	}
	button#yayinla, button#guncelle {
		line-height: 46px;
		height: 46px;
		padding: 0 18px;
		background: fuiwetasphalt
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		font-family ff1
		&:hover {
			cursor pointer
			background fuializarin
		}
	}
}
#entryCall {
	background url(/img/bg2.png) repeat
	box-shadow(inset 0 0px 5px rgba(0,0,0,0.7))
	padding 20px
	text-align center
	margin-bottom 20px
	#inner {
		margin auto
		display block
		width 1000px
		text-align center
		color white
	}
}
.unit {
	margin 0 0 10px
	line-height 30px
	label {
		color white
		width 170px
		float left
	}
	input {
		width 600px
		float left
		border-width 0
		padding 5px 10px
		line-height 20px
	}
}