// @media (max-width: 999px) {
// 	#mainContainer {
// 		width 766px
// 		.baslikOlay {
// 			h1 {
// 				font-size 40px
// 			}
// 		}
// 		.birimOlayContainer {
// 			padding-top 40px
// 			.birimOlay {
// 				&:after {
// 					margin-top 70px
// 				}
// 				.tarihContainer {
// 					margin-left -23px
// 					.tarih {
// 						font-size 30px
// 					}
// 				}
// 				.olayText {
// 					h2 {
// 						font-size 30px
// 					}
// 					.textContainer {
// 						p {
// 							font-size 18px
// 						}
// 					}
// 				}
// 			}		
// 		}
// 	}	
// 	#header { 
// 		#inner {
// 			width 766px
// 		}
// 	}
// 	.gezCizgi {
// 		width 766px
// 		padding 20px 0
// 		.inner {
// 			height 140px
// 			.carousel {
// 				a {
// 					.baslikContainer {
// 						h4 {
// 							font-size 15px
// 						}
// 					}
// 				}
// 			}
// 		}
// 		i {
// 			height 140px
// 			line-height 140px
// 		}
// 	}
// }
// @media (max-device-width: 999px) {
// 	#mainContainer {
// 		width 766px
// 		.baslikOlay {
// 			h1 {
// 				font-size 40px
// 			}
// 		}
// 		.birimOlayContainer {
// 			padding-top 40px
// 			.birimOlay {
// 				&:after {
// 					margin-top 70px
// 				}
// 				.tarihContainer {
// 					margin-left -23px
// 					.tarih {
// 						font-size 30px
// 					}
// 				}
// 				.olayText {
// 					h2 {
// 						font-size 30px
// 					}
// 					.textContainer {
// 						p {
// 							font-size 18px
// 						}
// 					}
// 				}
// 			}		
// 		}
// 	}	
// 	#header { 
// 		#inner {
// 			width 766px
// 		}
// 	}
// 	.gezCizgi {
// 		width 766px
// 		padding 20px 0
// 		.inner {
// 			height 140px
// 			.carousel {
// 				a {
// 					.baslikContainer {
// 						h4 {
// 							font-size 15px
// 						}
// 					}
// 				}
// 			}
// 		}
// 		i {
// 			height 140px
// 			line-height 140px
// 		}
// 	}
// }
// @media (max-width: 768px) {
// 	#mainContainer {
// 		width 100%
// 		.baslikOlay {
// 			h1 {
// 				font-size 24px
// 			}
// 		}
// 		.birimOlayContainer {
// 			padding-top 8px
// 			.birimOlay {
// 				padding 0 5px
// 				&:after {
// 					margin-top 70px
// 				}
// 				.olay {
// 					width 90%
// 					margin-left 5%
// 					margin-bottom 8px
// 					.innerOlay {
// 						padding 20px
// 						.imageContainer {
// 							margin-bottom 0
// 						}
// 					}
// 				}
// 				.olayText {
// 					width 90%
// 					margin-left 5%
// 					.tarihContainer {
// 						width 100%
// 						margin-left 0
// 						margin-bottom 8px
// 						.tarih {
// 							font-size 30px
// 						}
// 					}
// 					h2 {
// 						font-size 24px
// 						background white
// 						padding 10px
// 						text-align center
// 						border-radius(4px)
// 						margin-bottom 8px
// 					}
// 					.textContainer {
// 						background white
// 						border-radius(4px)
// 						p {
// 							font-size 16px
// 							padding 10px
// 						}
// 					}
// 				}
// 			}		
// 		}
// 	}	
// 	#header { 
// 		#inner {
// 			width 100%
// 		}
// 	}
// 	.gezCizgi {
// 		width 100%
// 		padding 20px 0
// 		.inner {
// 			height 100px
// 			.carousel {
// 				a {
// 					.baslikContainer {
// 						background rgba(0,0,0,0.9)
// 						h4 {
// 							font-size 11px
// 							font-weight 300
// 						}
// 						.olayCount {
// 							display none
// 						}
// 					}
// 				}
// 			}
// 		}
// 		i {
// 			height 100px
// 			line-height 100px
// 		}
// 	}
// }
// @media (max-device-width: 768px) {
// 	#mainContainer {
// 		width 100%
// 		.baslikOlay {
// 			h1 {
// 				font-size 74px
// 			}
// 		}
// 		.birimOlayContainer {
// 			padding-top 8px
// 			.birimOlay {
// 				padding 0 5px
// 				&:after {
// 					margin-top 70px
// 				}
// 				margin-bottom 100px
// 				.olay {
// 					width 90%
// 					margin-left 5%
// 					margin-bottom -4px
// 					.innerOlay {
// 						padding 40px
// 						.imageContainer {
// 							margin-bottom 0
// 						}
// 					}
// 				}
// 				.olayText {
// 					width 90%
// 					margin-left 5%
// 					.tarihContainer {
// 						width 100%
// 						margin-left 0
// 						margin-bottom -4px
// 						.tarih {
// 							font-size 90px
// 						}
// 						.aygun {
// 							.ay, .gun {
// 								font-size 60px
// 							}
// 						}
// 					}
// 					h2 {
// 						font-size 80px
// 						background white
// 						padding 30px
// 						text-align center
// 						border-radius(4px)
// 						margin-bottom -4px
// 					}
// 					.textContainer {
// 						background white
// 						border-radius(4px)
// 						p {
// 							font-size 40px
// 							padding 30px
// 						}
// 					}
// 				}
// 			}		
// 		}
// 	}	
// 	#header { 
// 		#inner {
// 			width 100%
// 		}
// 	}
// 	.gezCizgi {
// 		width 100%
// 		padding 20px 0
// 		.inner {
// 			height 100px
// 			.carousel {
// 				a {
// 					.baslikContainer {
// 						background rgba(0,0,0,0.9)
// 						h4 {
// 							font-size 11px
// 							font-weight 300
// 						}
// 						.olayCount {
// 							display none
// 						}
// 					}
// 				}
// 			}
// 		}
// 		i {
// 			height 100px
// 			line-height 100px
// 		}
// 	}
// }