<template name="birimOlayInput">
	<div class="birimOlay float100" id="{{_id}}">
		<div class="tarihContainer" style="direction:ltr;">
			<input maxlength="4" onkeypress='validate(event)' class="tarih" placeholder="Yıl" 
				{{#if year}}value="{{year}}"{{/if}}>
			<div class="aygun" style="background:none !important;">
				<select class="month" name="monthlist" form="monthform"
					{{#if year}}value="{{month}}"{{else}}disabled{{/if}}>
					<option value="0">Ay</option>
					<option value="1">Ocak</option>
					<option value="2">Şubat</option>
					<option value="3">Mart</option>
					<option value="4">Nisan</option>
					<option value="5">Mayıs</option>
					<option value="6">Haziran</option>
					<option value="7">Temmuz</option>
					<option value="8">Ağustos</option>
					<option value="9">Eylül</option>
					<option value="10">Ekim</option>
					<option value="11">Kasım</option>
					<option value="12">Aralık</option>
				</select>
				<select class="day" name="daylist" form="dayform" 
					{{#if day}}value="{{day}}"{{/if}} 
					{{#if month}}
					{{else}}disabled
					{{/if}}>
					<option value="0">Gün</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					{{ayaYilaGoreGun month year}}
				</select>
			</div>
		</div>
		<div class="standartCerceve olay">
			<div class="imageContainer">
				{{#if img}}
					<img src="https://s3-eu-west-1.amazonaws.com/taymz/{{img}}"
				{{else}}
					<i class="fa fa-camera">
						<div class="gorselYukle">Görsel Yükle</div>
					</i>
				{{/if}}
			</div>
			<div class="clear"></div>
			<textarea rows="1" maxlength="100" class="noLineBreak manset" placeholder="Buraya Olay Manşetini Yazın">{{tagline}}</textarea>
			<span class="counterManset"></span>
			<textarea rows="1" maxlength="500" class="desc" placeholder="Buraya Kısa Özet Yazın">{{desc}}</textarea>
			<span class="counterDesc"></span>
		</div>
		<i class="noSelection silici fa fa-times"></i>
		<div class="siliciPopover">
			<div>Bu Olayı siliyorsun?</div>
			<button class="sil btnSmall btnAlizarin">Sil</button>
			<button class="vazgectim btnSmall btnEmerald">Silme</button>
		</div>
	</div>
</template>	