<template name="birimOlayInput">
	<div class="birimOlay float100" id="{{_id}}">
		<div class="column1">
			<div class="tarihContainer" style="border-radius:4px;height:auto">
				<input maxlength="4" onkeypress='validate(event)' class="tarih" placeholder="Yıl" value="{{year}}">
				<div class="aygun" style="background:none !important;padding-right:0;">
				<select class="month" name="monthlist" form="monthform" value="{{month}}">
					<option value="0">Ay</option>
					<option value="1">Ocak</option>
					<option value="2">Şubat</option>
					<option value="3">Mart</option>
					<option value="4">Nisan</option>
					<option value="5">Mayıs</option>
					<option value="6">Haziran</option>
					<option value="7">Temmuz</option>
					<option value="8">Ağustos</option>
					<option value="9">Eylül</option>
					<option value="10">Ekim</option>
					<option value="11">Kasım</option>
					<option value="12">Aralık</option>
				</select>
				<select class="day" name="daylist" form="dayform" value="{{day}}">
					<option value="0">Gün</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					{{ayaYilaGoreGun month year}}
				</select>
				</div>
			</div>
		</div>
		<div class="column2">
			<div class="clear"></div>
			<textarea rows="1" maxlength="250" class="noLineBreak manset" placeholder="Olay manşetini yazın">{{tagline}}</textarea>
			<span class="counterManset"></span>
			<div class="clear"></div>
			<div class="imageContainerParent">
				<div class="imageContainer">
					{{#if img}}
						<img src="https://s3-eu-west-1.amazonaws.	com/taymz/{{img}}">
						<div class="degistir gorselYukle">Resmi değiştir</div>
					{{else}}
						<i class="fa fa-camera">
							<div class="gorselYukleButonu gorselYukle">Görsel Yükle</div>
						</i>
					{{/if}}
				</div>
			</div>
			<div class="textContainer" style="padding:0;background:none;">
				<textarea rows="1" maxlength="500" class="desc" 	placeholder="Buraya Kısa Özet Yazın">{{desc}}</textarea>
				<span class="counterDesc"></span>
			</div>
		</div>
		<i class="noSelection silici fa fa-times"></i>
		<div class="siliciPopover">
			<div>Bu Olayı siliyorsun?</div>
			<button class="sil btnSmall btnAlizarin">Sil</button>
			<button class="vazgectim btnSmall btnEmerald">Silme</button>
		</div>
	</div>
</template>	
