<template name="entryInput">
<div class="timeline">
	<div class="clear"></div>
	<div class="baslikOlay">
		<textarea 	rows="1" maxlength="80" id="title" class="noLineBreak" 
					placeholder="Buraya güzel bir taym başlığı girin">{{localTimelineTitle}}</textarea>
		<span id="counterTitle"></span>
	</div>
	<div class="clear"></div>
	<div class="thumbnail">
		{{#if localTimelineMainimg}}
		<div class="thumbContainer" style="background-image:url(http://s3-eu-west-1.amazonaws.com/taymz/{{localTimelineMainimg}})">
			<div class="changeThumb uploadThumb">Değiştir</div>
		</div>
		{{else}}
		<div class="uploadThumb uploadBtn">
			Ana Resim Yükle
		</div>
		{{/if}}
	</div>
	<div class="clear"></div>
	<div class="birimOlayContainer" >
		{{#each localTimelineNode}}
			{{> birimOlayInput}}
		{{/each}}
		<div class="clear"></div>
	</div>
	<div class="float100 noSelection entryButtonsContainer">
		<i id="addOlay" class="noSelection fa fa-plus"></i>
	</div>
	<div class="float100 noSelection entryButtonsContainer">
		{{submit}}
	</div>
	<div class="float100 noSelection entryButtonsContainer">
		{{saveAsDraft}}
	</div>
</div>
</template>