<template name="entryInput">
	<div class="clear"></div>
	<div class="baslikOlay">
		<textarea 	rows="1" maxlength="80" id="title" class="noLineBreak" 
					placeholder="Buraya güzel bir çizgi başlığı girin"></textarea>
		<span id="counterTitle"></span>
	</div>
	<div class="birimOlayContainer float100" >
		{{#each localTimelineNode}}
			{{> birimOlayInput}} {{monthDay}}
		{{/each}}
	</div>	
	<div class="float100" id="entryButtonsContainer">
		<i class="cannotbeselected addOlay fa fa-plus"></i>
	</div>
</template>