<template name="gallery">
	<ul class="gallery innerContainer">
		{{#if galleryLoaded}}
		{{#each timelineAll}}
		<li>
			<a href="/t/{{tid}}">
				<div class="imageContainer" style="background-image:url(http://s3-eu-west-1.amazonaws.com/taymz/{{mainimg}})">
				</div>
				<div class="baslik">
					<span>{{title}}</span>
				</div>
				{{#if draft}}<i class="fa fa-save"></i>{{/if}}
			</a>
		</li>
		{{/each}}
		{{/if}}
		<div class="clear"></div>
		{{#unless allTimelinesLoaded}}
			<div id="showMoreResults"><img src="img/ajax-loader.gif"/></div>
		{{/unless}}
	</ul>
	<div class="clear"></div>
</template>