<template name="gallery">
	<ul class="gallery innerContainer">
		{{#each timelineAll}}
		<li>
			<a href="/t/{{tid}}">
				<div class="imageContainer" style="background-image:url(http://s3-eu-west-1.amazonaws.com/taymz/{{img}})	">
					<i class="fa fa-bookmark olayCount">
						<div>
							{{olayCount}}
						</div>
					</i>
				</div>
				<div class="baslik">
					<span>{{title}}</span>
				</div>
				{{#if draft}}<i class="fa fa-save"></i>{{/if}}
			</a>
		</li>
		{{/each}}
		<div class="clear"></div>
	</ul>
	<div class="clear"></div>
</template>