<template name="gezCizgi">	
	<div class="gezCizgi noSelection">
		<i style="visibility:{{leftHide}};" class="noSelection fa fa-chevron-left"></i><!--
		--><div class="inner"><!--
			--><div class="carousel"><!--
				-->{{#if timelineCarouselLoaded}}<!--
					-->{{#each timelineCarousel}}<!--
					--><a href="/t/{{tid}}">
						<div class="imgContainer">
							<span class="helper"></span><div class="image" style="background-image:url(http://s3-eu-west-1.amazonaws.com/taymz/{{img}})"></div>
						</div>
						<div class="baslikContainer">
							<h4>{{title}}</h4>
							<div class="">{{draft}}</div>
							<div class="olayCount">{{olayCount}} olay</div>
						</div>
					</a><!--
					-->{{/each}}<!--
				-->{{else}}<!--
					<div class="loading"><img src="/img/loading.gif"></div>
				-->{{/if}}<!--
			--></div><!--
		--></div><!--
		--><i style="visibility:{{rightHide}};" class="noSelection fa fa-chevron-right"></i><!--
	--></div>
</template>