<template name="gezCizgi">	
	<div class="gezCizgi">
		<i class="cannotbeselected fa fa-chevron-circle-left {{leftHide}}"></i><!--
		--><div class="inner">
			<div class="carousel">
				{{#if timelineCarouselLoaded}}
					{{#each timelineCarousel}}
					<a class="standartCerceve" href="/t/{{tid}}">
						<div class="imgContainer">
							<img src="http://s3-eu-west-1.amazonaws.com/taymz/{{img}}">
						</div>
						<h4>{{title}}</h4>
					</a>
					{{/each}}
				{{else}}
					<i class="fa fa-refresh fa-spin"></i>
				{{/if}}
			</div>
		</div><!--
		--><i class="cannotbeselected fa fa-chevron-circle-right {{rightHide}}"></i>
	</div>
</template>