<template name="header">
	<div id="header">
		<div id="inner">
			<div class="logo"><a href="/">taymz <i class="fa fa-clock-o"></i></a></div>
			<a class="nav" href="/"><i class="fa fa-home"></i></a>
			{{#if varoAdmin}}<a class="buttonSq btnSqEmerald add" href={{pathFor 'add'}}><i class="fa fa-plus-square"></i></a>
			<a class="buttonSq btnSqPeterriver edit" href={{pathFor 'edit'}}><i class="fa fa-pencil-square"></i></a>
			{{/if}}
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</template>