<template name="home">
	{{>yield region='header'}}
	<div class="clear"></div>
	{{> social}}
	<div class="clear"></div>
	{{>yield}}
</template>

<template name="singleTimeline">
	{{>yield region='header'}}
	<div class="clear"></div>
	<div class="innerContainer">
		{{>yield}}
		{{>yield region='carousel'}}
		<div class="clear"></div>
	</div>
</template>

<template name="add-edit">
	{{>yield region='header'}}
	<div class="clear"></div>
	{{>yield region='entryCall'}}
	<div class="innerContainer">
		{{>yield}}
		<div class="clear"></div>
	</div>
</template>

<template name="static">
	{{>yield region='header'}}
	<div class="clear"></div>
	{{>yield}}
</template>



	