<template name="nedir">
	<div class="innerContainer static">
		<h1>Taymz.com nedir?</h1>
		<p>Taymz.com tarihteki ve özellikle yakın tarihimizdeki olayları belirli konu başlıkları altında kronolojik sırayla derleyip, size kolay ve okunaklı şekilde sunmaya çalışan bir popüler tarih sitesidir.</p>

		<p>Çoğu zaman, sadece somut olayların birbirleriyle bağlantısının, görmek isteyen açık bir beyin için gerçekleri apaçık ortaya koyduğuna inanıyoruz. Siz yine de, "yok kardeşim gerçekler ne olursa olsun ben bana dikte edilene inanırım" derseniz, eyvallah. Bu siteye girmeyin o zaman. Bilgilenmek sizi rahatsız edebilir.</p>

		<p>Tek odağımız siyasi, bilimsel ve entellektüel konular değil tabi. Aklımız erdiğince goygoy da yapmaya çalışıyoruz.</p>

		<p>Taymz.com'un detaylı bir referans sitesi olma gibi bir amacı yok. Daha detaylı bilgi edinmek isteyeceğiniz konularda, <a href="http://tr.wikipedia.org/" rel="nofollow" target="_blank"><b>Wikipedia</b></a> vb. referans sitelere sizleri yönlendirmeye çalışıyoruz, gerisi size kalıyor.</p>

		<p>Belki bir gün olur da herşeyi mantıksal bir ilgi silsilesinde beyinlerimize sokup tarihin ruhunu kavrarız. Biz bunu yapabilmek için başlangıç yaptık sadece. Siz bu siteyi bir daha ziyaret etmeyecek olsanız bile biz bunu alttan alttan ilerletiyor olacağız. Çünkü anlamak istiyoruz. Tarih tekerrürden mi ibaret, yoksa maharetli ellerde bir iktidar oyuncağı veya altın madeni mi ya da gerçekler bambaşka mı?</p>

		<p>Yavaş yavaş hepsini göreceğiz.</p>

		<p>Ziyaretçilerimizden, şimdiden (2.hafta) "hani benim kendi taymımı oluşturma sayfam?", "hani benim üye kayıt ekranım" gibi sorular almaya başladık. Olacak efendim. Az sabır.</p>

		<p>Mart 2014 - Taymz Ekibi</p>
	</div>
</template>