<template name="social">
	<div class="belowHeader innerContainer"><!--
		--><div class="quote"><em>Tarihi bilmiyorsan dün doğmuşsun demektir. Dün doğmuşsan her lider sana istediği hikayeyi anlatabilir.</em> <strong style="font-weight:600">Howard Zinn</strong></div><!--
		--><div class="social">
			<div class="fb-like" data-href="https://www.facebook.com/taymzcom" data-layout="button" data-action	="like" data-width="70" data-show-faces="true" data-share="false"></div>
			<a href="https://twitter.com/taymzcom" class="twitter-follow-button" data-show-count="false" data-	lang="tr">Takip et: @taymzcom</a>
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>
		</div>
	</div>
</template>