<template name="social">
	<div class="belowHeader innerContainer"><!--
		--><div class="quote">Tarihi bilmiyorsan dün doğmuşsun demektir. Dün doğmuşsan her lider sana istediği hikayeyi anlatabilir. <strong style="font-weight:600">Howard Zinn</strong></div><!--
		--><div class="social">

			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftaymzcom&amp;width=70&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=1430036597242723" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:20px;" allowTransparency="true"></iframe>
			
			<iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=taymzcom&lang=tr&show_count=true"
  					style="width:230px; height:20px;"></iframe>
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>
		</div>
	</div>
</template>