<template name="timeline">
	{{#with timelineMain}}
		<div class="baslikOlay">
			<h1>{{title}}</h1>
		</div>
		<div class="gizliBaslik"><!--
			--><div class="baslik"><!--
				-->{{title}}{{mainimg}}
				</div><!--
				--><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://taymz.com/t/{{tid}}&p[images][0]=http://s3-eu-west-1.amazonaws.com/taymz/SkAS20JESkiNVrpXYpbP_fonotograf.jpg"><!--
					--><i class="fa fa-facebook-square"></i> Facebook'ta Paylaş
				</a><!--
				--><a class="twitter" href=""><!--
					--><i class="fa fa-twitter-square"></i> Tweetle
				</a><!--
		--></div>
		<div class="birimOlayContainer float100 taymEnd" >
			{{#each milestones}}
				<div class="birimOlay float100">
					<div class="olay">
						<div class="innerOlay">
							<div class="imageContainer">
								<img class="lazy" data-original="http://s3-eu-west-1.amazonaws.com/taymz/{{img}}">
							</div>
						</div>
					</div>
					<div class="olayText">
						<div class="tarihContainer">
							<div class=" tarih">
								{{year}}
							</div>
							{{#if month}}
							<div class="aygun">
								<div class="ay">
									{{ayIsmi month}}
								</div>
								{{#if day}}
									<div class="gun">
										{{day}}
									</div>
								{{/if}}
							</div>
							{{/if}}
						</div>
						<h2>
						{{tagline}}
						</h2>
						<div class="textContainer">
						
						{{#markdown}}{{desc}}{{/markdown}}
						</div>
					</div>
				</div>
			{{/each}}
			<i class="basaDon fa fa-chevron-circle-up"></i>
		</div>
	{{/with}}
</template>