<template name="timeline">
	<div class="timeline">
	{{#with timelineMain}}
		<div class="baslikOlay">
			<h1>{{title}}</h1>
		</div><!--
		--><div class="gizliBaslik"><!--
				--><a class="facebook" target="_blank" onclick="window.open(this.href, 'mywin','left=20,top=20,width=600,height=500,toolbar=1'); return false;" href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://taymz.com/t/{{tid}}"><!--
					--><i class="fa fa-facebook-square"></i> Facebook'ta Paylaş
				</a><!--
				--><a class="twitter" target="_blank" onclick="window.open(this.href, 'mywin2','left=20,top=20,width=600,height=250,toolbar=1'); return false;" href="https://twitter.com/intent/tweet?text={{title}}&url=http://taymz.com/t/{{tid}}"><!--
					--><i class="fa fa-twitter-square"></i> Tweetle
				</a><!--
		--></div>
		<div class="birimOlayContainer float100 taymEnd" >
			{{#each milestones}}
				<div class="birimOlay float100">
					<div class="dot"></div>
					<div class="column1">
						<div class="tarihContainer">
							<div class="tarih" style="">
								{{year}}
							</div>
							{{#if month}}
							<div class="aygun"><!--
								--><div class="ay">
									{{ayIsmi month}}
								</div><!--
								-->{{#if day}}<!--
									--><div class="gun">
										{{day}}
									</div>
								{{/if}}
							</div>
							{{/if}}
<!-- 							<div class="kacYilOldu">{{!kacYilOldu}}</div> -->
						</div>
					</div>
					<div class="column2">
						<div class="clear"></div>
						<h2>
						{{tagline}}
						</h2>
						<div class="clear"></div>
						<div class="imageContainerParent">
							<div class="imageContainer">
								<img class="lazy" data-original="http://s3-eu-west-1.amazonaws.com/taymz/{{img}}">
							</div>
						</div>
						{{#if desc}}	
							<div class="textContainer">
								{{#markdown}}{{desc}}{{/markdown}}
							</div>
						{{/if}}
					</div>
				</div>
			{{/each}}
			<i class="basaDon fa fa-chevron-circle-up"></i>
		</div>
	{{/with}}
	</div>
</template>